.test{
    font-size: 80px;
    color: blueviolet;
    text-align: center;
}
.para{
    text-align: center;
}
.headth{
    text-align: center;
}
#ima{
    width: 500px;
    margin-left: 250px;
}